<h1> <%= @article.title %></h1>
<br />
<p>
	Tags:
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<hr />
<br />

<% if @article.image.exists? %>
	<p>
	<%= image_tag @article.image.url %>
	</p>
<% end %>

<br />
<p> <%= @article.body %> </p>
<br />
<ul class='btn-nav'>
	<li> <%= link_to "Edit", edit_article_path , class: "btn-new fancy-button-reset-base-class"%> </li>
	<li><%= button_to "Delete", article_path(@article),
				  method: :delete,
				  data: { confirm: "Are you sure?" } %></li>
</ul>
<br />

<h3> Comments (<%= @article.comments.size %>)</h3>
<%= render partial: "articles/comment", collection: @article.comments %>
<br />
<%= render partial: "comments/form" %>
<br />
<%= link_to "<< Back To Articles List", articles_path %>

