<div class="search-user">
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:user_id, "User Id:") %>
  <%= text_field_tag(:user_id) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<%= render_flickr_widget(@user) %>
